.home-box {
  width: 1280px;
  min-height: calc(100vh-60px);
  padding: 10px;
  display: flex;
}
.home-top {
  height: 300px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}
.aside {
  width: 28%;
  height: 1000px;
  margin-right: 2%;
  padding: 10px;
}
